<!DOCTYPE html>
 <html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
	    RECLAMOS
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' type='text/css' href='/stylesheets/wide.css'   media='only screen and (min-width: 530px) and (min-device-width: 481px)'/>
    <link rel='stylesheet' type='text/css' href='/stylesheets/smartphone.css'   media='only screen and (max-width: 480px)' />

		<style type="text/css">
		
		</style>
</head>
  <body>
	  <div id="page_wrap">
	  		<header class="main" id="h1">
			<div class="mycss">Registro de reclamos</div>
	  		<nav class="main" id="n1" role="navigation">
					<div class="navdiv">
						<img src="..\images\home.png" width="30px" height="30px" align="right" style="position: relative;left: 15px;top:-10px"><a class="p" href="/">Inicio</a>
					</div>
					<div class="navdiv">
						<img src="..\images\save.png" width="30px" height="30px" align="right" style="position: relative;left: 15px;top:-10px"><a class="p" href="../registroReclamo">Registrar Reclamo</a>
					</div>
			</nav>
			<section class="main" id="s1">
			   <%- body %>
			</section>
			<footer class="main" id="f1">
				<div style="object-position:center;padding-right:30%;padding-left: 15%;padding-top:3%;padding-bottom:5%;width:50%;border: 3px solid #006699;">
				<a class="p" style="margin-left: 150px;" href="#">Contactenos</a>
				</div>
			</footer>
	  </div-->
  </body>
