<p style="position: relative;left: 15px;top:80px; font-size: 24px;color:white"><%= mensaje %></p>
<img src="..\images\success-icon.png" width="100px" height="100px" align="center" style="position: relative;left: 15px;top:100px">
